<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557889763211-nmi4h1sunsut2v8bqgic8k95sd29r80j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557889763211-nmi4h1sunsut2v8bqgic8k95sd29r80j</string>
	<key>API_KEY</key>
	<string>AIzaSyBdh-zNMN9ZmSdjQbIQSDy-fCuF9YkDKbo</string>
	<key>GCM_SENDER_ID</key>
	<string>557889763211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.riverpodStudy</string>
	<key>PROJECT_ID</key>
	<string>tefoma-d392b</string>
	<key>STORAGE_BUCKET</key>
	<string>tefoma-d392b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557889763211:ios:102bac5c8bd90b047ee18e</string>
</dict>
</plist>